.card-container {
    display: block;
    margin: auto;
    position: relative;
    height: 100%;
    width: 100%;
    background: teal;
    font-size: 24px;
}

li {
    width: 80vw;
    height: 80vh;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    text-align: center;
    border: 10px solid #ECECEC;
    box-sizing: border-box;
    cursor: default;
}

img {
    width: 30%;
    display: block;
    margin: auto;
}

.out-of-deck {
    display: none;
}
