h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

body {
  font-family: 'Crimson Text', serif;
  margin: 0; }

.title-container,
.footnote-container {
  text-align: center;
  color: white; }

.title {
  font-size: 6em;
  font-weight: bold; }

.title-icon {
  font-size: 3em; }

.table {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(216deg, #ff8a40, #fd5068, #dc4588);
  margin: auto; }

.table {
  display: flex;
  flex-direction: column; }

.main {
  position: relative;
  flex-grow: 1; }

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.policies-list {
  position: relative;
  display: block;
  margin: auto;
  width: 23.625em;
  height: 33em;
  background-color: red;
  font-size: 1em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card, .policy-card {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  list-style: none;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  border: 10px solid #ECECEC;
  box-sizing: border-box;
  cursor: default; }

.card--active {
  visibility: visible; }

img {
  width: 30%;
  display: block;
  margin: auto; }

.out-of-deck {
  display: none; }
